* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  height: 100vh;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
}
