@import url('../assets/fonts/fonts.css');

body {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.todo {
  width: 746px;
  height: 529px;
  display: flex;
}

.task-bar {
  background-color: #f4f6f8;
  width: 35%;
}

.all-tasks-button {}

.task-content {
  flex-shrink: 3;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
}