@import url('../assets/fonts/fonts.css');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  font-size: 14px;
}

.todo {
  width: 746px;
  height: 529px;
  display: flex;
}

.full-height-mode {
  height: 100%;
}

.folder-panel {
  background-color: #f4f6f8;
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: start;
  min-width: 200px;
  padding: 58px 20px 58px 20px;
}

.no-folders {
  padding-top: 32px;
  align-items: center;
}

.no-folders .show-all-tasks-btn {
  display: none;
}

.show-all-tasks-btn {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 40px 8px 12px;
  border-radius: 4px;
  transition: color 0.1s ease;
  font-family: 'Inter', sans-serif;
  width: 160px;
}

.show-all-tasks-btn:hover {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #00000008;
}

.folder-list {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.folder-list::-webkit-scrollbar {
  width: 4px;
  background-color: #ebebeb;
}

.folder-list::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 2px;
  width: 2px;
}

.folder {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 10px 14px 10px 12px;
  width: 160px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.folder:hover {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #0000000d;
}

.folder:hover .remove-folder-btn {
  display: block;
}

.chosenFolder {
  background-color: white;
  box-shadow: 0px 2px 10px 0px #0000000d;
}

.chosenFolder .remove-folder-btn {
  display: block;
}

.remove-folder-btn {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 14px;
  width: 18px;
  height: 18px;
  padding: 4px;
  color: #e3e3e3;
  display: none;
  transition: transform 0.1s ease, color 0.1s ease;
}

.remove-folder-btn:hover {
  transform: scale(1.1);
  color: #d1d1d1;
}

.folder-color {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.folder-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 95px;
}

.add-folder {
  position: relative;
}

.add-folder-btn {
  color: #767676;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  transition: color 0.1s ease;
}

.add-folder-btn:hover {
  color: #979797;
}

.add-folder-modal {
  width: 235px;
  height: 148px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  box-shadow: 0px 6px 10px 0px #0000000d;
  padding: 18px 18px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close-icon {
  position: absolute;
  z-index: 1;
  right: -5px;
  top: -5px;
  cursor: pointer;
  color: #5c5c5c;
  transition: color 0.1s ease;
}

.close-icon:hover {
  color: #7e7e7e;
}

.folder-name-input {
  border: 1px solid #efefef;
  width: 200px;
  height: 32px;
  padding: 8px 10px;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
}

.folder-name-input::placeholder {
  font-size: 14px;
  font-family: 'Inter' sans-serif;
  font-weight: 600;
  color: #c7c7c7;
}

.folder-name-input:focus {
  border: 1px solid #12a8ff;
}

.colors {
  display: flex;
  justify-content: space-between;
}

.colors > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.gray-folder-color {
  background-color: #c9d1d3;
}
.gray-text-color {
  color: #c9d1d3;
}

.emerald-folder-color {
  background-color: #42b883;
}
.emerald-text-color {
  color: #42b883;
}

.blue-folder-color {
  background-color: #64c4ed;
}
.blue-text-color {
  color: #64c4ed;
}

.pink-folder-color {
  background-color: #ffbbcc;
}
.pink-text-color {
  color: #ffbbcc;
}

.celadon-folder-color {
  background-color: #b6e6bd;
}
.celadon-text-color {
  color: #b6e6bd;
}

.violet-folder-color {
  background-color: #c355f5;
}
.violet-text-color {
  color: #c355f5;
}

.black-folder-color {
  background-color: #09011a;
}
.black-text-color {
  color: #09011a;
}

.red-folder-color {
  background-color: #ff6464;
}
.red-text-color {
  color: #ff6464;
}

.selected-color {
  border: 2px solid #525252;
}

.btn {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  transition: background-color 0.1s ease;
}

.add-btn {
  background-color: #4dd599;
  color: white;
}

.add-btn:hover {
  background-color: #6fdfae;
}

/* Styles for tasks */

.task-screen {
  flex-shrink: 1;
  background-color: white;
  width: 100%;
  padding: 56px 70px 60px 56px;
  max-height: 100%;
  overflow-y: auto;
}

.task-screen::-webkit-scrollbar {
  width: 4px;
  background-color: #ebebeb;
}

.task-screen::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  border-radius: 2px;
  width: 2px;
}

.no-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-tasks-span {
  color: #c9d1d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
}

.folder-title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.folder-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 380px;
}

.task-hr {
  border: 1px solid #f2f2f2;
  margin: 20px 0 20px;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.last-task {
  margin-bottom: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  padding-right: 5px;
  align-items: center;
}

.task-content-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.task-name {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  max-width: 350px;
  word-break: break-all;
}

.task-completed {
  text-decoration: line-through;
  color:rgba(0, 0, 0, 0.3)
}

.edit-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  color: #dfdfdf;
  transition: color 0.1s ease;
}

.edit-icon:hover {
  color: #c7c7c7;
}

.incomplete-icon {
  cursor: pointer;
  fill: none;
  width: 20px;
  height: 20px;
}

.complete-hover-icon {
  cursor: pointer;
  fill: none;
  width: 20px;
  height: 20px;
}

.complete-icon {
  cursor: pointer;
  color: #f2f2f2;
  fill: none;
  width: 20px;
  height: 20px;
  transition: color 0.1s ease;
}

.complete-icon:hover {
  color: #e6e6e6;
}

.add-task-form-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #b4b4b4;
  font-family: 'Inter', sans-serif;
  transition: color 0.1s ease;
}

.add-task-form-btn:hover {
  color: #c7c7c7;
}

.add-task-form-btn-icon {
  width: 12px;
  height: 12px;
}

.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-content-input {
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  height: 38px;
  padding: 0 14px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.task-content-input::placeholder {
  color: #C7C7C7;
  font-weight: 600;
}

.task-content-input:focus {
  border: 1px solid #12a8ff;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.add-task-btn {
  background-color: #4dd599;
  color: white;
  padding: 10px 20px;
}

.add-task-btn:hover {
  background-color: #6fdfae;
}

.cancel-btn {
  background-color: #F4F6F8;
  color: #9C9C9C;
  padding: 10px 20px;
}

.cancel-btn:hover {
  background-color: #ebebeb;
}

.task:hover .remove-task-btn {
  display: block;
}

.remove-task-btn {
  width: 12px;
  height: 12px;
  color: #e3e3e3;
  cursor: pointer;
  display: none;
  transition: transform 0.1s ease, color 0.1s ease;
}

.remove-task-btn:hover {
  transform: scale(1.1);
  color: #d1d1d1;
}

.rename-folder-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  width: 380px;
}

.hidden {
  display: none;
}

.input-validation-error {
  border: 1px solid #ff4d4f;
}

.multiple-task-panel {
  margin-bottom: 50px;
}

.multiple-task-list {
  max-height: none;
  overflow: hidden;
}

.multiple-add-folder-modal {
  top: -160px;
}
/* Styles for toasters */

.validation-error-toast {
  background: #fff0f0 !important;
  border: 1px solid #fce4e4 !important;
  color: red !important;
  border-radius: 8px !important;
  padding: 16px !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-size: 14px !important;
  min-width: 300px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.validation-success-toast {
  background: #ecfdf3 !important;
  border: 1px solid #cafadf !important;
  color: #008a2e !important;
  border-radius: 8px !important;
  padding: 16px !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  font-size: 14px !important;
  min-width: 300px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
}
